body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-c: #289BDE;
}

.banner-caption {
    position: absolute;
    inset: 0;
    background-color: rgba(29, 29, 29, 50%);
}

.mobile-only {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}